# OS
.DS_Store
Thumbs.db

# Rime
build/
*.userdb/
*.userdb.txt
user.yaml
installation.yaml

# IDE
.vscode/*
!.vscode/settings.json

.ttxfolder
backgrounds/*
backgrounds/
trime.*
*.trime.yaml
*.custom.yaml
!default.custom.yaml
!double_pinyin.custom.yaml
*.tar.gz
custom_phrase.txt