/* Box */

.box {
    border: solid 1px rgba(160, 160, 160, 0.3);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border 0.2s ease,
        color 0.2s ease;
    -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    background-color: transparent;
    border: solid 1px rgba(160, 160, 160, 0.3);
    color: #3c3b3b;
    cursor: pointer;
    display: inline-block;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Georgia,
        "source-han-serif-sc", "Source Han Serif SC", "Source Han Serif CN",
        "Source Han Serif TC", "Source Han Serif TW", "Source Han Serif",
        "Songti SC", "Microsoft YaHei", serif;
    font-size: 0.6em;
    font-weight: 800;
    height: 4.8125em;
    letter-spacing: 0.25em;
    line-height: 4.8125em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    border: solid 1px #2ebaae;
    color: #2ebaae !important;
}

input[type="submit"]:hover:active,
input[type="reset"]:hover:active,
input[type="button"]:hover:active,
.button:hover:active {
    background-color: rgba(46, 186, 174, 0.05);
}

input[type="submit"]:before,
input[type="submit"]:after,
input[type="reset"]:before,
input[type="reset"]:after,
input[type="button"]:before,
input[type="button"]:after,
.button:before,
.button:after {
    color: #aaaaaa;
    position: relative;
}

input[type="submit"]:before,
input[type="reset"]:before,
input[type="button"]:before,
.button:before {
    left: -1em;
    padding: 0 0 0 0.75em;
}

input[type="submit"]:after,
input[type="reset"]:after,
input[type="button"]:after,
.button:after {
    left: 1em;
    padding: 0 0.75em 0 0;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
    font-size: 0.7em;
    padding: 0 3em;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.5em;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    color: rgba(160, 160, 160, 0.3) !important;
}

input[type="submit"].disabled:before,
input[type="submit"]:disabled:before,
input[type="reset"].disabled:before,
input[type="reset"]:disabled:before,
input[type="button"].disabled:before,
input[type="button"]:disabled:before,
.button.disabled:before,
.button:disabled:before {
    color: rgba(160, 160, 160, 0.3) !important;
}

/* Form */

form {
    margin: 0 0 2em 0;
}

form.search,
form.contact {
    text-decoration: none;
    position: relative;
}

form.search:before,
form.contact:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    text-transform: none !important;
    color: #aaaaaa;
    content: "\f002";
    display: block;
    height: 2.75em;
    left: 0;
    line-height: 2.75em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.5em;
}

form.search>input:first-child,
form.contact>input:first-child {
    padding-left: 2.5em;
}

label {
    color: #3c3b3b;
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(160, 160, 160, 0.075);
    border: none;
    border: solid 1px rgba(160, 160, 160, 0.3);
    border-radius: 0;
    color: inherit;
    display: block;
    outline: 0;
    margin: 0.25em 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
select:hover,
textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border-color: #2ebaae;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
    border: solid 1px #2ebaae;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    text-transform: none !important;
    color: rgba(160, 160, 160, 0.3);
    content: "\f078";
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    height: 5em;
}

input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="radio"]+label {
    text-decoration: none;
    color: #646464;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="radio"]+label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    text-transform: none !important;
    background: rgba(160, 160, 160, 0.075);
    border: solid 1px rgba(160, 160, 160, 0.3);
    content: "";
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="radio"]:checked+label:before {
    background: #3c3b3b;
    border-color: #3c3b3b;
    color: #ffffff;
    content: "\f00c";
}

input[type="radio"]:focus+label:before {
    border: solid 1px #2ebaae;
}

input[type="radio"]+label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
}

:-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
}

::-moz-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
}

.formerize-placeholder {
    color: #aaaaaa !important;
    opacity: 1;
}

/* Table */

table {
    text-align: center;
    width: 90%;
    margin: 1em auto;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border: 0;
}

table>thead {
    background-color: #ececec;
}

table>thead>tr,
table>tbody>tr,
table>tfoot>tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    vertical-align: middle;
    padding: 0.5em;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

table>thead>tr>th,
table>thead>tr>td {
    text-align: center;
    border-bottom-width: 2px;
    font-weight: bold;
}

table>thead>tr>th:first-child,
table>thead>tr>td:first-child,
table>tbody>tr>td:first-child {
    border-right: 2px solid #e0e0e0;
    font-weight: bold;
}

@media screen and (min-width: 715px) {

    table>tbody>tr:hover>td,
    table>tbody>tr:hover>th {
        background-color: RGBA(46, 186, 174, 0.3);
    }

    table>tbody>tr:nth-child(even)>td,
    table>tbody>tr:nth-child(even)>th {
        background-color: #f4f4f4;
    }
}

@media screen and (max-width: 715px) {
    table {
        width: 75%;
        margin: auto;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 0;
    }

    table>thead,
    table>tfoot {
        display: none;
    }

    table>tbody {
        display: block;
        border: none;
    }

    table>tbody>tr,
    table>tbody>tr.active {
        display: block;
        border: 1px solid #e0e0e0;
    }

    table>tbody>tr>td {
        background-color: #ffffff;
        display: block;
        text-align: right;
    }

    table>tbody>tr>td[data-header]:before {
        content: attr(data-header);
        float: left;
        font-size: inherit;
        font-weight: bold;
        color: #757575;
    }

    table>tbody>tr>td:first-child {
        text-align: left;
        font-weight: bold;
        background-color: #ececec;
        border-right: 1px solid #e0e0e0;
    }

    table>tbody>tr>td:first-child:after {
        float: right;
        content: "\f107";
        font-family: 'Font Awesome 5 Free';
        font-style: normal;
        font-weight: 900;
        text-decoration: inherit;
        transition: all 0.35s;
    }

    table>tbody>tr>td:first-child:hover {
        background-color: RGBA(0, 0, 0, 0.2);
    }

    table>tbody>tr>td:not(:first-child) {
        opacity: 0;
        position: absolute;
        z-index: -1;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

    table>tbody>tr>td:not(:first-child):hover {
        background-color: RGBA(46, 186, 174, 0.3);
    }

    table>tbody>tr.active>td:first-child {
        border-bottom: 2px solid #e0e0e0;
    }

    table>tbody>tr.active>td:first-child:after {
        transform: rotateX(180deg);
    }

    table>tbody>tr.active>td:not(:first-child) {
        opacity: 1;
        position: relative;
        z-index: auto;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    table>tbody>tr.active>td:last-child {
        border-bottom: 0;
    }
}

/* Fancybox */

.fancybox {
    max-width: 85%;
    width: fit-content;
    /* padding: .5em; */
    /* background: #ddd; */
    margin: auto;
}

.fancybox a {
    border: 0;
}

.fancybox .caption {
    margin: 0;
    line-height: 0.5em;
    color: #777;
    text-align: center;
    font-style: italic;
}

/* Section/Article */

section.special,
article.special {
    text-align: center;
}

article.post header .title p,
article.post header .meta p,
article.post header .meta span,
article.post footer .stats {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=70);

    /* Modern Browsers */
    opacity: 0.7;
}

article.post p,
article.post ol,
article.post h2,
article.post h3,
article.post h4 {
    color: #333333;
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=87);

    /* Modern Browsers */
    opacity: 0.87;
}

/* Footer */

#footer .icons {
    color: #aaaaaa;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

#footer .copyright {
    text-align: center;
    color: #aaaaaa;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Georgia,
        "source-han-serif-sc", "Source Han Serif SC", "Source Han Serif CN",
        "Source Han Serif TC", "Source Han Serif TW", "Source Han Serif",
        "Songti SC", "Microsoft YaHei", serif;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

/* backtoTop */

#backtoTop {
    background-color: #eee;
    border-radius: 100%;
    bottom: 2%;
    height: 48px;
    position: fixed;
    right: -100px;
    width: 48px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#backtoTop.button--show {
    right: 1px;
}

.per {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
    color: #555;
    cursor: pointer;
}

.per:before {
    content: attr(data-percent);
}

.per:hover:before {
    content: "△";
    font-size: 20px;
}

/* Valine */
input[type="text"],
input[type="email"],
input[type="text"] {
    display: inline;
}

.v .vbtn,
.v .vctrl span {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Georgia,
        "source-han-serif-sc", "Source Han Serif SC", "Source Han Serif CN",
        "Source Han Serif TC", "Source Han Serif TW", "Source Han Serif",
        "Songti SC", "Microsoft YaHei", serif;
}

.v .vbtn:hover,
.v .vbtn:active,
.v .vctrl span:hover,
.v .vctrl span:active {
    color: #2ebaae !important;
    border-color: #2ebaae !important;
}

/* Friends */
#content .friends-links {
    display: flex;
    flex-wrap: wrap;
}

#content .friends-links a {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
    padding: 10px 10px 14px;
    border-radius: 10px;
}

#content .friends-links a:hover {
    color: #fff !important;
}

#content .friends-links img {
    width: 50px;
    border-radius: 100%;
}

#content .friends-links .link-container {
    margin-left: 10px;
}

#content .friends-links .blog-name {
    font-size: 18px;
}

#content .friends-links .blog-description {
    font-size: 12px;
}

.link-background {
    color: #fff !important;
    background: #2ebaae;
}